:root {
  --gray: #2e2e2e;
  --green: #3cb371;
  --white: #cfcbca;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
  padding: 50px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--green);
}

section {
  padding: 50px;
}

footer {
  text-align: center;
  background-color: #333;
  color: var(--white);
  padding: 10px 0;
}

a {
  color: var(--white);
}
